@import '../../utils/global.sass'


.login-pages
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  height: 100vh
  .login-container
    display: flex
    justify-content: center
    align-items: center
    align-content: center
    border-radius: 20px
    background: $greyBackground
    height: 33%
    width: 33%