@import '../../utils/global.sass'


.menu-button
  display: flex
  justify-content: space-around
  align-items: center
  height: 60px
  cursor: pointer
  padding: 5px 10px 5px 5px
  img
    width: 30px
    height: 30px