@import '../../utils/global.sass'

.menu-container
  display: flex
  justify-content: space-between
  background: #fff
  height: 60px
  .logo-container
    display: flex
    flex: 2
    align-items: center
    justify-content: center
    cursor: pointer
    img
      height: 40px
      width: 70px
  a
    position: relative
    text-decoration: none
    color: black
    justify-content: center
    display: flex
  &.border-active
    position: relative
  .border-half
    position: absolute
    width: 50%
    height: 10px
    bottom: -2px
    left: 00px
    background: #fff


  a 
    &.border-active:active, &.border-active:hover, &.border-active:focus
      border-width: 2px
      border-style: solid
      border-color: $baseBlue
      border-top: 0px
      border-left: 0px
      border-right: 0px

    
@media screen and (max-width: 1000px)

  .menu-container
    .logo-container
      display: none
    .border-half
      display: none
  