$target-width-xs-mobile: 320px
$target-width-mobile: 768px
$target-width-HD: 1120px
$target-width-fullHD: 1920px


$greyBackground: #e5e4e8
$acceptbtn: #1b75bb


body
  max-width: 1366px
  margin: 0 auto

  .card-style
    border-radius: 10px
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)