$target-width-xs-mobile: 320px
$target-width-mobile: 768px
$target-width-HD: 1120px
$target-width-fullHD: 1920px


$greyBackground: #e5e4e8
$baseBlue: #1b75bb
$baseDarkBlue: #065694
$statusRed: #8c031c
$statusGreen: #4e7317
$statusOrange: #f16323
$statusBlue: #1c75b3


.main-content
  position: relative
  float: right
  width: calc(100% - 260px)
  .content
    padding: 10px 15px
    min-height: calc(100vh - 123px)
  .card-style
    border-radius: 10px
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    table
      .text-primary
        th
          color: #2196f3
          font-weight: 300
      tbody
        tr
          td, th
            padding: 12px 8px
            vertical-align: middle
            border-color: #ddd
            font-weight: 300
            font-size: 1rem

  .flex-0
    flex: 0