$target-width-xs-mobile: 320px
$target-width-mobile: 768px
$target-width-HD: 1120px
$target-width-fullHD: 1920px


$greyBackground: #e5e4e8
$baseBlue: #1b75bb
$baseDarkBlue: #065694
$statusRed: #8c031c
$statusGreen: #4e7317
$statusOrange: #f16323
$statusBlue: #1c75b3


button:hover
  color: #fff