@import '../../utils/global.sass'



.delete-btn
  font-size: 14px
  cursor: pointer
  padding: 5px
  border-radius: 10px
  &:hover
    font-size: 15px
    color: red
.add-tenant-container
  display: flex
  flex-direction: column

  button
    align-self: flex-end
    margin-right: 40px
    margin-bottom: 40px
  .thumbnailProperty
    margin-top: 40px

    