@import '../../utils/global.sass'

.card-property-dashboard 
  position: relative
  margin-bottom: 40px
  height: 350px
  width: 450px
  display: flex
  justify-content: flex-start
  flex-direction: column
  align-items: center
  .card-property-dashboard-img
    padding: 0px 20px
    width: 100%
    height: 80%
    img
      width: 100%
      height: 100%
  .status
    background: $statusBlue
    width: 93%
    position: absolute
    top: 0px
    color: #fff
    padding: 2px
    text-align: center
    font-size: 18px
    line-height: 20px
    border-radius: 3px
    margin-top: -20px
    padding: 15px
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4)
    cursor: pointer
    &.for-rent
      background: $statusBlue
    &.rented
      background: $statusOrange
    &.active
      background: $statusGreen
    &.inactive
      background: $statusRed
    &:hover
      font-size: 14px
  .property-info
    position: relative
    width: 100%
    height: 150px
    flex-direction: row
    transition: height 0.4s
    align-items: center
    padding: 20px
    span
      font-size: 25px
      color: #333333a8
  .icon-up, .icon-down
    position: absolute
    right: 20px
    bottom: 20px
    color: #1b75bb
    border-radius: 50%
    background: transparent
    font-size: 24px
    cursor: pointer
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(57, 53, 58, 0.4)
  .icon-down
    bottom: 13px
  .card-revard
    display: none
    padding: 20px
    position: absolute
    background-color: #fff
    width: 100%
    overflow-y: auto
    left: 0
    top: 100%
    height: 106%
    border-radius: 10px
    z-index: 3
    transform: translateY(0%)
    &.true
      display: block
      transform: translateY(-100%)
    .detail-label
      font-size: 20px
      color: #1b75bb
    .detail-value
      font-size: 18px
      color: #333333a8
  .action-container
    display: flex
    justify-content: space-evenly
    align-items: center
    height: 60px
    .bill-action
      cursor: pointer
      font-size: 28px
      color: #4CAF50
    .trash-action
      cursor: pointer
      font-size: 28px
      color: red

