@import '../../utils/global.sass'
.media-table
  font-size: 10px

.input-in-table
  padding: 5px
  font-size: 10px
  border: 0
  outline: 0
  background: transparent
  border-bottom: 1px solid #1c75b3

.confirm-btn-container
  display: flex
  justify-content: flex-end
  margin-top: 20px
  margin-bottom: 20px
  margin-right: 20px
  align-items: flex-end
.genInvoice-button
  position: relative
  width: 100%
  .genInvoice-button--action
    position: absolute
    font-size: 10px
    color: #fff
    top: -50px
    right: 50px
    cursor: pointer
    &:hover
      font-size: 14px
  .genInvoice-button--delete
    position: absolute
    font-size: 10px
    color: #fff
    top: -50px
    right: 10px
    cursor: pointer
    &:hover
      font-size: 14px

.head-property-detail
  display: flex
  justify-content: space-between
  align-items: center
  .single-thumb-mobile
      display: none
.additional-info-list
  display: flex
  justify-content: flex-start
  align-items: center
  margin: 20px
  flex-wrap: wrap
  .add-info-item
    background: $statusBlue
    color: #ffffff
    padding: 5px 15px
    border-radius: 7px
    margin: 5px
    position: relative
.dataPicker-container    
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 20px
  .dataPicker-item
    border: solid 2px #1c75b3
    padding: 10px
    border-radius: 20px
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22)

@media screen and (max-width: 768px)
  .thumbnail-container-detail
    position: relative
    .single-thumb-mobile
      display: block